<h1>Lista de Datos</h1>

<div *ngIf="errorMessage">
  {{ errorMessage }}
</div>

<table>
  <thead>
    <tr>
      <th *ngFor="let column of displayedColumns">{{ column.encabezado }}</th>
      <th *ngIf="shouldShowDetailButton()">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data" (click)="onRowClick(item)">
      <td *ngFor="let column of displayedColumns">{{ item[column.id] }}</td>
      <td *ngIf="shouldShowDetailButton()">
        <button mat-button (click)="verDetalle(item); $event.stopPropagation()">
          Ver Detalle
        </button>
      </td>
    </tr>
  </tbody>
</table>